h1 {text-align: center;}
.flex-container {
    display: flex;
}

.flex-container div {
    content: "";
    clear: both;
    display: table;
    background: rgb(11, 216, 252);
    border: 4px solid rgba(0, 0, 0, 0);
    height: 100px;
    width: 250px;
    flex: 1 1 auto;
}
#Add, #Subtract, #Multiply, #Divide {
    text-decoration-thickness: 5px;
    padding: 70px 0;
    border: 3px solid green;
    text-align: center;
    background: rgb(255, 255, 255);
    border: 4px solid rgb(0, 0, 0);
    height: 100px;
    width: 50%;
    margin: auto;
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    flex: 1 1 auto;
}
#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #zero {
    text-decoration-thickness: 5px;
    padding: 70px 0;
    border: 3px solid green;
    text-align: center;
    background: rgb(255, 255, 255);
    border: 4px solid rgb(0, 0, 0);
    height: 100px;
    width: 50%;
    margin: auto;
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    flex: 1 1 auto;
}